<?xml version="1.0"?>
<ruleset name="Coding standards">
	<description>Coding standards</description>
	<!-- How to scan? See ./docs/coding-standards.md for instructions. -->
	<!-- Usage instructions: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Usage -->
	<!-- Annotated ruleset: https://github.com/squizlabs/PHP_CodeSniffer/wiki/Annotated-ruleset.xml -->

	<!-- - - - - - - - - - -->
	<!-- Configuration     -->
	<!-- - - - - - - - - - -->

	<file>./stellarwp-plugin-installer.php</file>
	<file>./src</file>

	<!-- Show progresss & use colors. -->
	<arg value="sp"/>
	<arg name="colors"/>

	<!-- Enables parallel processing when available for faster results. -->
	<arg name="parallel" value="8"/>

	<!-- Strip the file paths down to the relevant bit and only apply to .php files. -->
	<arg name="basepath" value="./"/>
	<arg name="extensions" value="php"/>

	<!-- Minimum versions required. -->
	<config name="testVersion" value="5.6-"/>
	<config name="minimum_supported_wp_version" value="5.0"/>

	<!-- - - - - - - - - - -->
	<!-- Rules             -->
	<!-- - - - - - - - - - -->

	<!-- No PHP syntax errors. -->
	<rule ref="Generic.PHP.Syntax"/>

	<!-- PHPCompatibilityWP -->
	<!-- https://github.com/PHPCompatibility/PHPCompatibilityWP -->
	<rule ref="PHPCompatibilityWP" />

	<!-- WordPress Coding Standards -->
	<!-- https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards -->
	<!-- https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/wiki/Customizable-sniff-properties -->
	<rule ref="WordPress-Extra">
		<!-- Short array syntax is actually *preferred*. -->
		<exclude name="Generic.Arrays.DisallowShortArraySyntax.Found" />

		<!-- Prevent closures from looking really bad. -->
		<exclude name="PEAR.Functions.FunctionCallSignature.CloseBracketLine" />
		<exclude name="PEAR.Functions.FunctionCallSignature.ContentAfterOpenBracket" />
		<exclude name="PEAR.Functions.FunctionCallSignature.MultipleArguments" />

		<!-- Don't want to abide by the silly file name structure of WP Core. -->
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase" />

		<!-- Function, variable, method naming. -->
		<exclude name="WordPress.NamingConventions.PrefixAllGlobals.NonPrefixedNamespaceFound" />
		<exclude name="WordPress.NamingConventions.ValidFunctionName.MethodNameInvalid" />
		<exclude name="WordPress.NamingConventions.ValidVariableName.PropertyNotSnakeCase" />
		<exclude name="WordPress.NamingConventions.ValidVariableName.UsedPropertyNotSnakeCase" />

		<!-- Allow any case for hooks. -->
		<exclude name="WordPress.NamingConventions.ValidHookName.NotLowercase" />

		<!-- Short ternaries are fine. -->
		<exclude name="WordPress.PHP.DisallowShortTernary.Found" />
	</rule>

	<!-- Spacing before/after control structures. -->
	<rule ref="WordPress.WhiteSpace.ControlStructureSpacing" />

	<!-- Allow our hook structure, which uses \ as seperators, along with - for use in Something\\WP-CLI\\Something hooks. -->
	<rule ref="WordPress.NamingConventions.ValidHookName">
		<properties>
			<property name="blank_line_check" value="true" />
			<property name="additionalWordDelimiters" value="\\-_.:" />
		</properties>
	</rule>

	<!-- Disallow long array syntax. -->
	<rule ref="Generic.Arrays.DisallowLongArraySyntax" />

	<!-- Namespacing required for classes. -->
	<rule ref="PSR1.Classes.ClassDeclaration" />

	<rule ref="Generic.Commenting.Todo.CommentFound">
		<message>Please review this TODO comment: %s</message>
  	<severity>3</severity>
 	</rule>

	<!-- Translation & localization -->

	<!-- Rules for localization text-domain. -->
	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array" value="stellarwp-plugin-installer" />
		</properties>
	</rule>
</ruleset>
